* {
    margin: 0;
    padding: 0;
    text-align: left;
}
*:focus {
    outline:none;
    box-shadow:none;
    -webkit-box-shadow:none;
}
ul, li, ol, dl, dt, dd {
    list-style: none;
}
img {
    width: 100%;
    height: auto;
    vertical-align: top;
}
button {
    background-color: transparent;
    border: 0 none;
}
